@import "../../styles/vars.scss";

.chooseService {
  width: 100%;
  .chooseService__container {
    width: 100%;
    max-width: 248px;
    // min-width: 248px;

    .select {
      .control {
        width: 100%;
        max-width: 248px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .menu {
        overflow: hidden; /* Prevent scroll and hide the scrollbar */
        scrollbar-width: none; /* Firefox: Hide the scrollbar */
        -ms-overflow-style: none; /* Internet Explorer: Hide scrollbar */
        width: 100%;
        background-color: #ffffff;
        border-radius: 8px;
        position: absolute;
        top: 28px;
        
        .menuContainer {
          overflow: hidden; /* Prevent scroll and hide the scrollbar */
        scrollbar-width: none; /* Firefox: Hide the scrollbar */
        -ms-overflow-style: none;
        }
      }

      .menu::-webkit-scrollbar {
        display: none; /* Chrome/Safari: Hide the scrollbar */
      }
    }
  }
}
