// text colors

$text-primary: #292929;
$text-secondary: #ffffff;
$container-width: calc(100% - 280px);
$container-width-medium:calc(100% - 100px); 
$container-width-medium-small:calc(100% - 30px);
// bc colors

$brown:#856957;
$camel:#D4A373;
$ivory:#fbf7f2;


// fonts families 

$font-manrope:'Manrope' , sans-serif;
$font-italina:'Italiana', sans-serif;
$styled-texts:'Great Vibes' , 'sans serif';

// font sizes

$headingsh2big:40px;
$headingsh21200px:32px;
$headingsh21024px:28px;
$headingsh2768px:20px;



